<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createUser</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!------ Include the above in your HEAD tag ---------->
    <link href="../css/registration.css" rel="stylesheet"/>
</head>
<body><header>
    <nav
            class="navbar navbar-expand-lg navbar-light bg-white sticky"
            data-offset="300"
    >
        <div class="container" href="index.html">
            <a href="index.html" class="navbar-brand"
            >Atom<span class="text-primary"> V1</span></a
            >
            <h2>Sign In As An User</h2>

            <button
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarContent"
                    aria-controls="navbarContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
</header>
<div class="container">
    <div class="registration mx-auto d-block w-100">
        <div class="page-header text-center">
            <br>

            <br>
        </div>
        <form th:action="@{/addAddress}" method="post">

            <div class="form-group">
                <label for="exampleInputCity">City *</label>
                <input name="city" type="text" class="form-control" placeholder="text" id="exampleInputCity">
            </div>
            <div class="form-group">
                <label for="exampleInputStreet">Street *</label>
                <input name="street" type="text" class="form-control" placeholder="integer" id="exampleInputStreet">
            </div>
            <div class="form-group">
                <label for="exampleInputHouseNr">House Number *</label>
                <input name="houseNr" type="number" class="form-control" placeholder="integer" id="exampleInputHouseNr">
            </div>
            <div class="form-group">
                <label for="exampleInputHouseBox">Box</label>
                <input name="box" type="number" class="form-control" placeholder="integer" id="exampleInputHouseBox">
            </div>
            <div class="form-group">
                <label for="exampleInputZIP">ZIP *</label>
                <input name="ZIP" type="number" class="form-control" placeholder="integer" id="exampleInputZIP">
            </div>

            <input type="submit" value="Create Account">

            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="http://localhost:8088/login"
                                                                                    class="fw-bold text-body"><u>Login
                here</u></a></p>
            <br>
            <br>


        </form>
    </div>
</div>
</body>