<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>createUser</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!------ Include the above in your HEAD tag ---------->
    <link href="../css/registration.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="registration mx-auto d-block w-100">
        <div class="page-header text-center">
            <br>

            <br>
        </div>
        <form th:action="@{/createdNewUser}" method="post">


            <div class="form-group">
                <label for="exampleInputFirstName">First Name *</label>
                <input name="name" type="text" class="form-control" placeholder="text" id="exampleInputFirstName">
            </div>
            <div class="form-group">
                <label for="exampleInputLastName">Last Name *</label>
                <input name="userName" type="text" class="form-control" placeholder="text" id="exampleInputLastName">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail">Email *</label>
                <input name="email" type="text" class="form-control" placeholder="text" id="exampleInputEmail">
            </div>

            <div class="form-group">
                <label for="exampleInputUserName">User Name *</label>
                <input name="email" type="text" class="form-control" placeholder="text" id="exampleInputUserName">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword">Password *</label>
                <input name="password" type="text" class="form-control" placeholder="text/integer"
                       id="exampleInputPassword">
            </div>

            <div class="form-group">
                <label for="exampleInputPhoneNumber">Phone Number</label>
                <input name="password" type="text" class="form-control" placeholder="text/integer"
                       id="exampleInputPhoneNumber">
            </div>

            <div class="form-group">
                <label for="exampleInputPhotoLink">Downland User Photo</label>
                <input name="password" type="text" class="form-control" placeholder="text/integer"
                       id="exampleInputPhotoLink">
            </div>
            <div class="form-group">
                <label for="exampleInputCity">City *</label>
                <input name="city" type="text" class="form-control" placeholder="text" id="exampleInputCity">
            </div>
            <div class="form-group">
                <label for="exampleInputStreet">Street *</label>
                <input name="street" type="text" class="form-control" placeholder="integer" id="exampleInputStreet">
            </div>
            <div class="form-group">
                <label for="exampleInputHouseNr">House Number *</label>
                <input name="houseNr" type="text" class="form-control" placeholder="integer" id="exampleInputHouseNr">
            </div>
            <div class="form-group">
                <label for="exampleInputHouseBox">Box</label>
                <input name="ZIP" type="text" class="form-control" placeholder="integer" id="exampleInputHouseBox">
            </div>
            <div class="form-group">
                <label for="exampleInputZIP">ZIP *</label>
                <input name="ZIP" type="text" class="form-control" placeholder="integer" id="exampleInputZIP">
            </div>

            <input type="submit" value="Create Account">

            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="http://localhost:8080/login"
                                                                                    class="fw-bold text-body"><u>Login
                here</u></a></p>
            <br>
            <br>


        </form>
    </div>
</div>
</body>

